@charset "utf-8";

@font-face {
	font-family:'Air Americana DEMO';
	src:url("fonts/AirAmericanaDemoSemibold-nRB6R.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}


html { 
	min-height: 100%;
	cursor: url("images/plane.png"), auto;	
}

* { 
  margin: 0;
  padding: 0;
}

/* Body Styles */

body { 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  background: #717882;    
}

p { 
  padding: 0 0 16px 0;
  line-height: 1.5em;
  color: #FFFFFF;
  font-size: .78em;
}

.content p {
	margin-top: 10px;
}

/* Header Styles */

header h1 {
	position: relative;
    margin-top: -190px;
	color: #131f2f;
	font-size: 2.0em;
}

h1 {
	margin-top: -150px;
}

.content h1, h2, h3, h6 {
	color: #b78654;
	text-decoration: none;
}

/* Navigation Bar Styles */

.nav_content {	
	background-color: #b8bbc0;	
	margin-top: 140.8px;
	margin-right: -25px;
	margin-bottom: 165px;
	margin-left: -25px;
	border: 2px solid #b8bbc0;
	width: 900px;	
}

.nav_menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.nav_menu li {  
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.nav_menu a {
  color: #131f2f;
  text-decoration: none;
  padding: 4px 4px;
  display: block;
}

.nav_menu a:hover {
  text-decoration: underline;
  color: #131f2f;
}

.nav_menu a.active {
	background-color: #717882;
	color: #FFFFFF;
	font-weight: bold;
}

/* Container Styles */

.container {
	border: 5px solid #131f2f;
	padding: 20px;
	width: 800px;  
	margin: auto;
	background-color: #131f2f;   
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 3px 150px #131f2f;
}

.container p {
	text-indent: 5px;
}

/* Sidebar Styles */

.sidebar {  
    padding: 20px;
    max-width: 600px;
    margin: 20px;
    position: relative;
    right: -2%;
    top: -170px;
    flex: 1;
    margin-left: 10px;
    border: 2px solid #b78654;
    background-color: #131f2f;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	max-height: 455px;	
}

.content {
    flex: 3;
}

.sidebar h3 {
	margin-top: 2px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #b78654;    
    padding-bottom: 5px;
    width: 100%;
	font-size: 1.0em;
}
 .sidebar h4 {
	margin-top: 2px;
    margin-bottom: -5px;
    text-decoration: none;
    color: #FFFFFF;    
    padding-bottom: 5px;
    width: 100%;
	font-size: 1.0em;
}	
 
.sidebar h5 {
	margin-top: 2px;
    margin-bottom: -5px;
    text-decoration: none;
    color: #FFFFFF;    
    padding-bottom: 5px;
    width: 100%;
	font-size: 1.0em;
}	

.sidebar h6 {
	margin-top: 2px;
    margin-bottom: -5px;
    text-decoration: underline;
    color: #b78654;    
    padding-bottom: 5px;
    width: 100%;
	font-size: 1.0em;
}

.sidebar a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #b78654;    
    padding-bottom: 5px;
    width: 100%;
}

aside.sidebar ul {
    list-style-type: none;    
    width: 100%;
}

aside.sidebar ul li a {
	padding-left: 38px;
	font-size: .85em;
	padding-bottom: 16px;
	padding-top: 16px;
}

.sidebar li a, .sidebar li a:hover {     
    width: 100%;
    display: block;
    background: transparent url(images/youtube.png) no-repeat left center;
}

.sidebar a {
    color: #b78654;
    text-decoration: none;    
}

/* Image Styles */

header img {
	width: 850px;
	height: 200px;
	margin-top: -25px;
	margin-left: -25px;
}

/* Footer Styles */

footer {
	border: 2px solid #b8bbc0;
	background-color: #b8bbc0;    
	padding: 5px 0;
	margin-top: 25px;
	width: 800px;
    margin-left: auto;
	margin-right: auto;
}

footer a {
	text-decoration: none;
	color: #131f2f;
}

footer p {
	color: #131f2f;
	font-size: 1.1em;	
	margin: 0;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Navicon Styles */

a#navicon {
	display: none;
}

/* Mobile Devices: 0 to 480px */

@media only screen and (max-width: 480px) {
	
	a#navicon {
		display: block;
	}
	
	.nav_menu ul {
		display: none;
	}
	
	a#navicon:hover+ul, nav.horizontal ul:hover {
		display: block;
	}
	
	.container {
		width:884px;
	}
	
	header img {
		width: 263px;
		margin-left: -35px;
	}
	
	header h1 {
		font-size: 1.6em;		
	}
	
	.sidebar {
		display: none;		
	}
	
	.content p {
		padding: 0px 683px 16px 0;
		margin-left: -11px;
		
	}
	
	.content img {
		display: none;
	}
	
	h1 {
		font-size: .75em;		
	}
	
	h2 {
		display: none;
	}
	
	.content h1, .content h2 {
		text-decoration: underline;
		margin-left: -11px;
	}		

	footer {
		display: none;
	}   
}